* {
  margin: 0;
}

@keyframes slidein {
  0% {
    opacity: 0;
    left: 0px;
    top: -15px;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    left: 0px;
    top: 0px;
  }
}

@media (min-width: 500px) {
  .quote {
    opacity: 1;
    color: black;
    position: relative;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    size: 20%;
  }
  .header {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 23rem;
    border-bottom: 2px solid black;
    margin-left: 0;
    background-color: white;
    margin-right: 0;
  }
  .profile-pic {
    animation-name: slidein;
    animation-duration: 1s;
    height: 20vh !important;
    width: 20vh !important;
    margin: 1vh;
  }
}

@media (max-width: 499px) {
  .header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 23rem;
    border-bottom: 2px solid black;
    margin-left: 0;
    background-color: white;
    margin-right: 0;
  }
  .quote {
    display: none;
  }
  .profile-pic {
    animation-name: slidein;
    animation-duration: 1s;
    height: 25vh !important;
    width: 25vh !important;
  }
}

.header::before {
  content: "";
  position: absolute;
  background-image: url("https://images.freeimages.com/images/large-previews/8cd/binary-code-1-1241810.jpg");
  background-color: white;
  background-size: 100%;
  opacity: 0.4;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.bannerBox {
  width: 100%;
  height: 8vh;
  background-color: #1e1e1e;
  clip-path: polygon(0% 0%, 100% 0%, 93% 60%, 7% 60%);
  margin-bottom: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  font-size: 3vh !important;
  transform: translateY(-45%);
}
.card {
  box-shadow: 0px 0px 13px 0px rgba(255, 255, 255, 0.281) !important;
  width: 60%;
  min-width: 290px;
  max-width: 400px;
  min-height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.card:hover {
  box-shadow: 0px 0px 10px 6px rgba(255, 255, 255, 0.281) !important;
}
.skillCard {
  display: flex;
  height: 129px;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 6px 0.3px rgba(255, 255, 255, 0.281) !important;
}
.skillCard:hover {
  box-shadow: 0px 0px 8px 1.5px rgba(255, 255, 255, 0.281) !important;
}
.footer {
  width: 100%;
  height: 12vh;
  background-color: #2e2e2e;
  margin-top: 3vh;
  padding: 0.5rem;
  display: flex;
  align-items: flex-end;
}
.footerText {
  color: #5e5e5e;
  font-size: 1.3vh;
}
.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
#email {
  width: 100%;
  max-width: 210px;
  margin-bottom: 1rem;
}
#message {
  width: 50%;
  max-width: 380px;
  height: 70%;
  min-height: 70px;
  max-height: 90px;
  margin-bottom: 1rem;
}
.skillBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 0.3rem;
}
.skillText {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  border-bottom: 2px solid white;
}
